/* ----------------------------------
 * BUTTONS
 * ---------------------------------- */

body[role="application"] menu button,
body[role="application"] menu a[role="button"] {
	background: url(images/ui/button_default.png) repeat-x;
	height: 4rem;
	line-height: 4rem;
	border: 0.1rem solid #9f9f9f;
	border-radius: 0.3rem;
	width: 100%;
	text-align: center;
	color: #333;
	font-size: -moz-calc(7 * 0.226rem);
	font-family: 'Open Sans', Sans-serif;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	text-decoration: none;
	float: left;
	margin-left: 1rem;
	font-weight: lighter;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
body[role="application"] menu button:first-of-type,
body[role="application"] menu a[role="button"]:first-of-type {
	margin-left: 0;
}
body[role="application"] menu button:active,
body[role="application"] menu a[role="button"]:active {
	background-position: 0 -40px;
	border-color: #00acce;
}
body[role="application"] menu button.affirmative,
body[role="application"] menu a[role="button"].affirmative {
	background-image: url(images/ui/button_affirmative.png);
	border-color: #008aa7;

}
body[role="application"] menu button.affirmative:active,
body[role="application"] menu a[role="button"].affirmative:active {
	border-color: #008aa7;
}
body[role="application"] menu button.negative,
body[role="application"] menu a[role="button"].negative {
	background-image: url(images/ui/button_negative.png);
	color: #fff;
	text-shadow: -1px -1px 0 #830b0b;
	border: none; 
}
body[role="application"] menu button.negative:active,
body[role="application"] menu a[role="button"].negative:active {
	color: red;
}
body[role="application"] menu button[aria-disabled="true"],
body[role="application"] menu a[role="button"][aria-disabled="true"],
body[role="application"] menu button[aria-disabled="true"].affirmative,
body[role="application"] menu a[role="button"][aria-disabled="true"].affirmative {
	background-position: 0 -80px;
	color: rgba(129,129,129,0.5);
	border-color: rgba(131,131,131,0.3);
	text-shadow: none;
}
body[role="application"] menu button[aria-disabled="true"].negative,
body[role="application"] menu a[role="button"][aria-disabled="true"].negative {
	color: #fff;
}

body[role="application"] menu[data-items="2"] button,
body[role="application"] menu[data-items="2"] a[role="button"] {
	width: -moz-calc((100% - 1rem) / 2);
}
body[role="application"] menu[data-items="3"] button,
body[role="application"] menu[data-items="3"] a[role="button"] {
	width: -moz-calc((100% - 2rem) / 3);
}
