html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size:14px;
	font-family: Arial, sans-serif;
	background: #1a2633;
	background-image:
    				-moz-radial-gradient(bottom right, circle cover, hsla(300,100%,62%,.07) 0%, hsla(226,77%,55%,.05) 65%, hsla(198,60%,59%,.1) 100%),
					-moz-radial-gradient(center 45deg, closest-side, hsla(210,17%,25%,1) 0%, #1a2633 100%);

}

nav {
	position:absolute;
	top:20px;
	left:20px;
	font-size:12px;
	width:260px;
}

nav li {
	margin:10px 0 0;
	padding:0 0 0 30px;
	overflow:hidden;
}

nav li span {
	float:left;
	margin-left:-30px;
	width:24px;
	height:24px;
	color: hsl(0,0%,100%);
	line-height:24px;
	font-size: 10px;
	font-weight:700;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	text-align:center;
	border-radius:5px;
	border-bottom:1px solid hsla(0,0%,100%,.25);
	background: hsl(220,7%,9%);
	cursor:pointer;
}

nav li a {
	display: block;
	font-size:14px;
	color: hsl(0,0%,100%);
	text-shadow: 1px 1px 0 hsla(0,0%,0%,.5);
	line-height:24px;
	text-decoration: none;
}

nav li a.current {
	color: #ff6800;
}

iframe {
	position: absolute;
	top:20px;
	left: 300px;
	width:320px;
	height:480px;
	border:0;
	margin:0;
	padding:0;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}