@import url("fonts.css");

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size:14px;
  font-family: "Open Sans", sans-serif;
  background: #1a2633;
  background-image:
    -moz-radial-gradient(bottom right, circle cover, hsla(300,100%,62%,.07) 0%, hsla(226,77%,55%,.05) 65%, hsla(198,60%,59%,.1) 100%),
    -moz-radial-gradient(center 45deg, closest-side, hsla(210,17%,25%,1) 0%, #1a2633 100%);

}

body {
  padding: 25px;
}

nav {
  float: left;
  font-size: 12px;
  width: 230px;
  max-height: 100%;
  overflow: auto;
  margin-right: 30px;
}

nav h2 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ol  {
  counter-reset: item;
  padding: 0;
}

nav ol ol {
  height: 0;
  overflow: hidden;
}

nav li[data-state="open"] ol {
  height: auto;
}

nav li {
  margin: 10px 0 0;
  padding: 0;
  overflow: hidden;
}

nav li:before {
  content: counter(item);
  counter-increment: item;
  float: left;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  color: hsl(0,0%,100%);
  line-height: 18px;
  font-size: 10px;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  text-align: center;
  border-radius: 5px;
  border-bottom: 1px solid hsla(0,0%,100%,.25);
  background: hsl(220,7%,9%);
  cursor: pointer;
}

nav li a {
  position: relative;
  display: block;
  font-size: 14px;
  color: hsl(0,0%,100%);
  text-shadow: 1px 1px 0 hsla(0,0%,0%,.5);
  line-height: 18px;
  text-decoration: none;
}

nav li a.current {
  color: #ff6800;
}

nav .disabled {
  opacity: 0.4;
  cursor: default;
}
nav .disabled a { cursor: default; }


iframe {
  float: left;
  width: 320px;
  height: 480px;
  border: 0;
  margin: 0 50px 0 0;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  overflow-x: hidden; 
}

section#metadata {
  float: left;
  color: #fff;
  width: 300px;
}

section#metadata h1 {
  font: 20px/1em "Open Sans", Sans-serif;
  font-weight: 600;
  color: #fff;
}

section#metadata a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

section#metadata a:hover {
  text-decoration: underline;
}