/* ----------------------------------
 * DIALOGUES
 * ---------------------------------- */

body[role="application"] [role="dialog"] {
	background: rgba(0,0,0,0.88);
	margin-bottom: 0.1rem;
	display: block;
	overflow: hidden;
	padding: 2.5rem 2.5rem 0 2.5rem;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
	body[role="application"] [role="dialog"] h3 {
		font-family: 'System Sans Semibold';
		font-weight: normal;
		font-size: -moz-calc(7 * 0.226rem);
		height: 3rem;
		line-height: 3rem;
		background: red;
		color: #fff;
		border-bottom: 0.1rem solid #fff;
		display: block;
		margin: 0; 
	}
	body[role="application"] [role="dialog"] ul {
		margin: 0; 
	}
		body[role="application"] [role="dialog"] li {
			margin: 0;
			list-style: none;
			height: 5.9rem;
			line-height: 5.9rem;
			color: #fff;
		}

	body[role="application"] [role="dialog"] menu {
    margin: 0;
    padding: 1.5rem;
    display: block;
    overflow: hidden;
    background: rgba(0,0,0,0.83);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

body[role="application"] [role="dialog"] button,
body[role="application"] [role="dialog"] a[role="button"] {
	background: url(images/ui/button_standard.png) repeat-x;
	height: 4rem;
	line-height: 4rem;
	border: 0;
	border-radius: 0.3rem;
	width: 100%;
	text-align: center;
	color: #333;
	font-size: -moz-calc(7 * 0.226rem);
	font-family: 'System Sans Semibold';
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	text-decoration: none;
	float: left;
	margin-left: 1rem;
	font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body[role="application"] [role="dialog"] button:first-child,
body[role="application"] [role="dialog"] a[role="button"]:first-child {
	background: url(images/ui/button_standard.png) repeat-x;
	margin-left: 0;
}
body[role="application"] [role="dialog"] button.affirmative,
body[role="application"] [role="dialog"] a[role="button"].affirmative {
	background: url(images/ui/button_affirmative.png);
}
body[role="application"] [role="dialog"] button.negative,
body[role="application"] [role="dialog"] a[role="button"].negative {
	background-image: url(images/ui/button_negative.png);
	color: #fff;
	text-shadow: none;
}

body[role="application"] [role="dialog"] [data-items="2"] button,
body[role="application"] [role="dialog"] [data-items="2"] a[role="button"] {
	width: -moz-calc((100% - 1rem) / 2);
}
body[role="application"] [role="dialog"] [data-items="3"] button,
body[role="application"] [role="dialog"] [data-items="3"] a[role="button"] {
	width: -moz-calc((100% - 2rem) / 3);
}
