body[role="application"] [role="dialog"] ul {
	padding: 0;
	margin: 0 0 7.5rem;
	border-bottom: 1px solid #666;
	overflow: auto;
	display: -moz-box;
	-moz-box-flex: 1;
	-moz-box-orient: vertical;
}
	body[role="application"] [role="dialog"] ul li {
		margin: 0;
		list-style: none;
		border-bottom: 1px solid #000;
		border-top: 1px solid #666;
		position: relative;
		color: #fff;
		font-family: 'Open Sans', Sans-serif;
		font-weight: lighter;
		font-size: 2.2rem;
		height: 5.9rem;
		line-height: 5.9rem;
		color: #fff;
		transition: background 0.2s ease;
	}
	body[role="application"] [role="dialog"] ul li:first-child {
		border-top: none;
	}

	body[role="application"] [role="dialog"] ul li:active,
	body[role="application"] [role="dialog"] ul li:active label span {
		background: #00ABCC;
		color: #fff!important;
	}

	body[role="application"] [role="dialog"] li input[type="checkbox"] {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		pointer-events: none;
	}

	body[role="application"] [role="dialog"] li input[type="checkbox"]:checked + span,
	body[role="application"] [role="dialog"] li[aria-checked="true"] span {
		color: #00abcd;
		background: url(images/ui/list_checked.png) right center no-repeat;
	}
	
	body[role="application"] [role="dialog"] ul li a,
	body[role="application"] [role="dialog"] ul li label,
	body[role="application"] [role="dialog"] ul li label span {
		text-decoration: none;
		display: block;
		color: #fff;
	}