/**
 * Rotation support
 */

@media screen and (orientation: landscape) {

  .bb-header {
    height: 3.7rem;
  }

  .bb-header h1 {
    line-height: 3.5rem;
  }

  .bb-header .action {
    line-height: 3.5rem;
  }

  .bb-subheader h2 {
    line-height: 0.9rem;
  }

}
