/**
 * Organic skin
 */

.bbs-organic .bb-header {
  background-image: url(images/ui/organic/noise-pattern.png), url(images/ui/organic/header.png);
  background-size: auto;
}

.bbs-organic .bb-header .action { /* Secondary actions (cancel, back, menu) */
  background: url(images/ui/organic/separator-large.png) no-repeat 2rem top;
}

.bbs-organic .bb-header .action:after {
  background: #23292b url(images/ui/organic/noise-pattern.png);
  background-size: auto;
}

.bbs-organic .bb-header menu .action:last-child {
  background-image: url(images/ui/organic/separator.png);
}

.bbs-organic .bb-subheader h2 {
  background: #5c6a6d url(images/ui/organic/subheader.png);
  color: #fff;
  border: none;
}

/**
 * Repeated declarations among all skins to avoid !important usage
 */

.bbs-organic .bb-header .action:active:after { /* Pressed state */
  background-color: #008aaa;
  background-image: none;
}

.bbs-organic .bb-header menu:active .action {
  background-image: none; /* Prevent mess active colors with image borders */
}

/**
 * Right to left tweaks
 */

html[dir="rtl"] .bbs-organic .bb-header menu .action:first-child { /* Theme tweak */
  background-image: url(images/ui/organic/separator.png);
}
