/**
 * Dark skin
 */

.bbs-dark .bb-header {
  background-image: url(images/ui/dark/header.png);
}

.bbs-dark .bb-header .action {
  background: url(images/ui/dark/separator-large.png) no-repeat 2rem top;
}

.bbs-dark .bb-header .action:after {
  background-image:  url(images/ui/dark/negative.png);
  background-color: transparent;
}

.bbs-dark .bb-header menu .action:last-child {
  background-image: url(images/ui/dark/separator.png);
}

.bbs-dark .bb-subheader h2 {
  background: #2e3c3f url(images/ui/dark/subheader.png);
  color: #fff;
  border: none;
}

/**
 * Repeated declarations among all skins to avoid !important usage
 */

.bbs-dark .bb-header .action:active:after { /* Pressed state */
  background-color: #008aaa;
  background-image: none;
}

.bbs-dark .bb-header menu .action {
  background-image: none;
}

.bbs-dark .bb-header menu:active .action {
  background-image: none; /* Prevent mess active colors with image borders */
}

/**
 * Right to left tweaks
 */

html[dir="rtl"] .bbs-dark .bb-header menu .action:first-child { /* Theme tweak */
  background-image: url(images/ui/dark/separator.png);
}
