/* ----------------------------------
 * BUTTONS: DEFAULT
 * ---------------------------------- */
body[role="application"] button::-moz-focus-inner {
	border: none;
	outline: none;
}
body[role="application"] button,
body[role="application"] a[role="button"] {
	width: 100%;
	height: 3.8rem;
	margin: 0 0 1rem;
	-moz-box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: #fafafa url(images/ui/default.png) repeat-x left bottom;
	border: 1px solid #9f9f9f;
	border-radius: 0.3rem;
	font-size: 1.6rem;
	font-family: 'Open Sans', Sans-serif;
	font-weight: 600;
	line-height: 3.8rem;
	color: #333;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	text-decoration: none;
}

/* Press (default & affirmative) */
body[role="application"] button:active,
body[role="application"] a[role="button"]:active,
body[role="application"] button.affirmative:active,
body[role="application"] a.affirmative[role="button"]:active  {
	border-color: #008aaa;
	background: #008aaa;
	color: #333;
}

/* Affirmative */
body[role="application"] button.affirmative,
body[role="application"] a[role="button"].affirmative {
	background-image: url(images/ui/affirmative.png);
	background-color: #00caf2;
	border-color: #00acce;
}

/* Negative */
body[role="application"] button.negative,
body[role="application"] a.negative[role="button"] {
	background-image: url(images/ui/negative.png);
	background-color: #b70404;
	color: #fff;
	text-shadow: -1px -1px 0 #830b0b;
	border: none; 
}

/* Negative Press */
body[role="application"] button.negative:active,
body[role="application"] a[role="button"].negative:active {
	background-image: url(images/ui/negative-press.png);
	background-color: #890707;
}

/* Disabled (default & affirmative) */
body[role="application"] button[disabled="disabled"],
body[role="application"] a[role="button"][aria-disabled="true"],
body[role="application"] button[disabled="disabled"].affirmative,
body[role="application"] a[role="button"][aria-disabled="true"].affirmative {
	background-image: url(images/ui/disabled-bright.png);
	background-color: transparent;
	border-color: #dadada;
	color: #bcbcbc;
}

/* Negative disabled */
body[role="application"] button[disabled="disabled"].negative,
body[role="application"] a[role="button"][aria-disabled="true"].negative {
	background-image: url(images/ui/negative-disabled.png);
	color: #fff;
	text-shadow: none;
}

/* ----------------------------------
 * BUTTONS: LIST
 * ---------------------------------- */

body[role="application"] .list button,
body[role="application"] .list a[role="button"],
body[role="application"] button.list,
body[role="application"] a[role="button"].list {
	background: #fff;
	height: 4rem;
	line-height: 4rem;
	border: 0.1rem solid rgba(0,0,0,.2);
	text-align: left;
	text-indent: 1.5rem;
	color: #333;
	font-size: 1.3rem;
	float: left;
	margin: 0 0 0.5rem 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.14);
}

body[role="application"] .list button:active,
body[role="application"] .list a[role="button"]:active,
body[role="application"] button.list:active,
body[role="application"] a[role="button"].list:active {
	background: #00abcd;
	border: 0.1rem solid #0099b9;
	box-shadow: none;
}

body[role="application"] .list button[aria-disabled="true"],
body[role="application"] .list a[role="button"][aria-disabled="true"],
body[role="application"] button.list[aria-disabled="true"],
body[role="application"] a[role="button"].list[aria-disabled="true"],
body[role="application"] .list button[aria-disabled="true"]:active,
body[role="application"] .list a[role="button"][aria-disabled="true"]:active,
body[role="application"] button.list[aria-disabled="true"]:active,
body[role="application"] a[role="button"].list[aria-disabled="true"]:active {
	background: #ededed;
	color: #a5a5a5; 
	box-shadow: 0 1px 2px rgba(0,0,0,.14);
	border: 0.1rem solid #d1d1d1;
}
body[role="application"] .list label {
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #000;
	line-height: 2.5rem;
}
