/* ----------------------------------
 * DRAWERS
 * ---------------------------------- */
  body[role="application"] section[role="region"][data-state="drawer"] {
    -moz-transform: translateX(80%);
  }
  body[role="application"] > nav { 
    position: absolute;
    width: 80%;
    background: url(images/ui/drawer.png) repeat;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Open Sans', Sans-serif;
  }
  body[role="application"] > nav:after { 
    content: '';
    width: 1rem;
    background: url(images/ui/drawer_shadow.png) right top repeat-y;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
    body[role="application"] > nav > ul { 
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
      body[role="application"] > nav > ul > li { 
        color: #fff;
        list-style: none;
      } 
        body[role="application"] > nav > ul > li > h2, 
        body[role="application"] > nav > ul > li > h3 { 
          margin: 0;
          font-size: -moz-calc(10 * 0.226rem);
          line-height: 5rem;
          font-weight: normal;
          padding-left: 3rem;
          background: #303740;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        body[role="application"] > nav > ul > li > h3 { 
          border-bottom: 0.1rem solid #596068; 
        }
        body[role="application"] > nav > ul > li > a { 
          text-decoration: none;
          color: #fff;
          font-size: -moz-calc(7 * 0.226rem);
          line-height: 4.4rem;
          border-bottom: 0.1rem solid #596068; 
          text-indent: 3rem;
          width: 100%;
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }


  /* Section */
  body[role="application"] > section[role="region"] {
    width: -moz-calc(100%);
    -moz-transition: all 0.25s ease;
    position: relative;
    left: -2rem;
    z-index: 100;
    padding-left: 2rem;
  }

  /* Header */
  body[role="application"] section[role="region"] > header {
    margin-left: -2rem;
  }
  body[role="application"] section[role="region"] > header > button, body[role="application"] section[role="region"] > header > a {
    width: 6rem;
  }
body[role="application"] section[role="region"] > header > a .icon.icon-menu, body[role="application"] section[role="region"] > header > button .icon.icon-menu {
    background-position: center center;
}
body[role="application"] section[role="region"] > header > button .icon:after, body[role="application"] section[role="region"] > header > a .icon:after {
  width: 4rem;
}
body[role="application"] section[role="region"] > header > button, body[role="application"] section[role="region"] > header > a {
  background-position: 4rem center;
}

  body[role="application"] section[role="region"] > header h1 {
    margin-left: 5rem;
  }