/* ----------------------------------
 * Buttons list
 * ---------------------------------- */
.buttons-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons-list label {
  font: 1.4rem/1em "Open Sans", Sans-serif;
  text-transform: uppercase;
  display: block;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Default */
.buttons-list button::-moz-focus-inner,
.buttons-list a[role="button"]::-moz-focus-inner {
  border: none;
  outline: none;
}

.buttons-list button,
.buttons-list a[role="button"] {
  width: 100%;
  height: 3.8rem;
  margin: 0 0 1rem;
  padding: 0 1.5rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  overflow: visible;
  background: #e7e7e7;
  border: 0.1rem solid #b6b6b6;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 600;
  line-height: 2.9rem;
  text-align: left;
  color: #333;
  text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
  text-decoration: none;
  outline: none;
}

.buttons-list a[role="button"]:after,
.buttons-list button:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: url(buttons_list/images/ui/shadow.png) repeat-x left bottom;
  height: 0.2rem;
  margin-top: 0.1rem;
  pointer-events: none;
}

/* Press */
.buttons-list button:active,
.buttons-list a[role="button"]:active {
  border-color: #008aaa;
  background: #008aaa;
  color: #333;
}

.buttons-list a[role="button"]:active:after,
.buttons-list button:active:after {
  opacity: 0;
}

/* Disabled */
.buttons-list button[disabled="disabled"],
.buttons-list a[role="button"][aria-disabled="true"] {
  background: #ededed;
  border-color: #d3d3d3;
  color: #a6a6a6;
}

.buttons-list button[disabled="disabled"]:after,
.buttons-list a[role="button"][aria-disabled="true"]:after {
  opacity: 1;
}

button span, a[role="button"] span {
     background: none no-repeat scroll center center transparent;
     float: left;
     height: 2.5rem;
     margin: 0px 0.5rem 0px -1rem;
     width: 2.5rem;
}

/* Core icons */
.buttons-list button span.end,
.buttons-list a[role="button"] span.end {
     float: right;
     margin: 0.3rem -1.5rem 0px 1rem;
}

.buttons-list button span.goto,
.buttons-list a[role="button"] span.goto {
     background-image: url(buttons_list/images/icons/goto.png);
}

.buttons-list button span.launch,
.buttons-list a[role="button"] span.launch {
     background-image: url(buttons_list/images/icons/launch.png);
     background-position: 1rem bottom;
}

.buttons-list button span.favorite,
.buttons-list a[role="button"] span.favorite {
     background-image: url(buttons_list/images/icons/favorite.png);
}

.buttons-list button span.call,
.buttons-list a[role="button"] span.call {
     background-image: url(buttons_list/images/icons/call.png);
     background-position: center bottom;
}

.buttons-list button span.tick,
.buttons-list a[role="button"] span.tick {
     background-image: url(buttons_list/images/icons/tick.png);
}

/* Compact mode */
.buttons-list.compact { margin-bottom: 1rem; }
.buttons-list.compact button,
.buttons-list.compact a[role="button"] {
  margin: -0.1rem 0;
  border-radius: 0;
}

.buttons-list.compact li:first-child button,
.buttons-list.compact li:first-child a[role="button"] {
  border-radius: 0.3rem 0.3rem 0 0;
}

.buttons-list.compact li:last-child button,
.buttons-list.compact li:last-child a[role="button"] {
  border-radius:0 0 0.3rem 0.3rem;
}
