/* ----------------------------------
 * TABS
 * ---------------------------------- */

body[role="application"] section[role="region"] > [role="tablist"] {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #000;
}
  body[role="application"] section[role="region"] > [role="tablist"] li {
    list-style: none;
    height: 4rem;
    float: left;
  }
  body[role="application"] section[role="region"] > [role="tablist"] li:active {
    background: url(images/ui/tab_active.png) no-repeat center top;
  }
  body[role="application"] section[role="region"] > [role="tablist"] li[aria-pressed="true"],
  body[role="application"] section[role="region"] > [role="tablist"] li[aria-pressed="true"]:active {
    background: #295b66;
  }
  body[role="application"] section[role="region"] > [role="tablist"] li[aria-disabled="true"]:active {
    background: none;
  }
  body[role="application"] section[role="region"] > [role="tablist"][data-tabs="2"] li {
    width: -moz-calc(100% / 2);
  }
  body[role="application"] section[role="region"] > [role="tablist"][data-tabs="3"] li {
    width: -moz-calc(100% / 3);
  }
  body[role="application"] section[role="region"] > [role="tablist"][data-tabs="4"] li {
    width: -moz-calc(100% / 4);
  }
  body[role="application"] section[role="region"] > [role="tablist"][data-tabs="5"] li {
    width: -moz-calc(100% / 5);
  }
    body[role="application"] section[role="region"] > [role="tablist"] [role="tab"] {
      font-size: -moz-calc(6 * 0.226rem);
      text-decoration: none;
      line-height: 4rem;
      text-align: center;
      color: #FFF;
      float: left;
      width: 100%;
    }
    body[role="application"] section[role="region"] > [role="tablist"] [role="tab"].icon {
      text-indent: -999rem;
    }
    body[role="application"] section[role="region"] > [role="tablist"] [role="tab"].icon-comms {
      background: url(images/icons/icon_comms.png) no-repeat center top;
    }
    body[role="application"] section[role="region"] > [role="tablist"] [role="tab"].icon-contacts {
      background: url(images/icons/icon_contacts.png) no-repeat center top;
    }
    body[role="application"] section[role="region"] > [role="tablist"] [role="tab"].icon-dialer {
      background: url(images/icons/icon_dialer.png) no-repeat center top;
    }
    body[role="application"] section[role="region"] > [role="tablist"] li:active [role="tab"] {
      background-position: center -4rem;
    }
    body[role="application"] section[role="region"] > [role="tablist"] li[aria-disabled="true"] [role="tab"] {
      background-position: center -8rem;
    }

  body[role="application"] section[role="region"] > [role="tabpanel"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: -moz-calc(100% - 4rem);
    z-index: 10;
    display: block;
    overflow: auto;
  }
  body[role="application"] section[role="region"] > [role="tabpanel"]:target {
    z-index: 1;
    visibility: visible;
  }
