/* ----------------------------------
 * LISTS: default
 * ---------------------------------- */
ul,ol, [role="list"] {
  list-style: none;
}

body[role="application"] li, [role="listitem"] {
  display: inline-block;
  width: 100%;
  -moz-box-sizing: border-box;
  border: solid 1px #dbd9d9;
  border-right: none;
  border-left: none;
  margin: -1px 0 0;
  position: relative;
}
a[role="listitem"] {
  text-decoration: none;
  color: #000;
}

body[role="application"] li > .media, [role="listitem"] > .media {
  float: left;
  display: inline;
  width: 5.5rem;
  height: 6rem;
  text-align: center;
}

body[role="application"] li > .media.right, [role="listitem"] > .media.right {
  float: right;
}

body[role="application"] li > .media:before, [role="listitem"] > .media:before {
  content: "";
  height: 100%;
  width: 1px;
  margin-left: -1px;
  display: inline-block;
  vertical-align: middle;
}

body[role="application"] li > .media time, [role="listitem"] > .media time {
  font-style: normal;
  display: inline-block;
  vertical-align: super;
  width: 4rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: right;
}

body[role="application"] li > img, [role="listitem"] > img {
  float: right;
  display: inline;
  width: 6rem;
  height: 6rem;
  background: transparent center center;
  background-size: 100% auto;
}

body[role="application"] li > dl, [role="listitem"] > dl {
  display: block;
  overflow: hidden;
  padding: 1rem 0 0;
}

body[role="application"] li > dl dt, [role="listitem"] > dl dt {
  font: 1.8rem/1.2em FontRegular, Sans-serif;
  white-space: nowrap;
  height: 2.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

body[role="application"] li > dl dt strong, [role="listitem"] > dl dt strong {
  font-weight: normal;
  font-family: FontSemibold, Sans-serif;
}

body[role="application"] li > dl dt em, [role="listitem"] > dl dt em {
  font-size: 1.3rem;
  font-style: normal;
}

body[role="application"] li > dl mark, [role="listitem"] > dl mark {
  background-color: #cfd3d7;

}

body[role="application"] li > dl dd, [role="listitem"] > dl dd {
  font-size: 1.4rem;
  color: #5b5b5b;
  white-space: nowrap;
  height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

body[role="application"] li > dl dd span, [role="listitem"] > dl dd span {
  margin-right: 0.3rem
}

body[role="application"] li > dl dd span:last-child,
[role="listitem"] > dl dd span:last-child {
  margin: 0;
}

/*
time {
  margin-right:0.3rem;
}
*/


/* Icon definitions */
body[role="application"] li .icon , [role="listitem"] .icon {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  background: transparent no-repeat center center;
  background-size: 100% auto;
  font: 0/0 a;
  overflow: hidden;
  position: relative;
}

body[role="application"] li .icon.icon-arrowaction, [role="listitem"] .icon.icon-arrowaction {
  background-image: url(images/icons/arrowaction.png);
  width:1rem;
  height: 1rem;
  vertical-align: bottom;
  margin-bottom: 1.3rem;
}

body[role="application"] li .icon.icon-callout, [role="listitem"] .icon.icon-callout {
  background-image: url(images/icons/callout.png);
  width: 2.4rem;
  height: 2rem;
}

body[role="application"] li .icon.icon-smsin, [role="listitem"][data-state="new"] .icon.icon-smsin {
  background-image: url(images/icons/smsin-new.png);
  width: 2.5rem;
  height: 2.2rem;
}

[body[role="application"] li .checkbox, role="listitem"] .checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 4rem;
  height: 4rem;
}
body[role="application"] li .checkbox input, [role="listitem"] .checkbox input {
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}
body[role="application"] li .checkbox span, [role="listitem"] .checkbox span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1.1rem 0 0 -1.1rem;
  width: 2.2rem;
  height: 2.2rem;
  pointer-events: none;
  background: url(images/icons/check-delete.png) no-repeat center top;
  background-size: 100% auto;
}
body[role="application"] li .checkbox input:checked + span, [role="listitem"] .checkbox input:checked + span {
  background-position: center bottom;
}



/* State disabled */
body[role="application"] li[disabled]:before, [role="listitem"][disabled]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  opacity: 0.7;
}

/* State new */
body[role="application"] li[data-state="new"]:after,
[role="listitem"][data-state="new"]:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 1.6rem;
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.5rem;
  background: url(images/icons/dot.png) no-repeat center;
  background-size: 100% auto;
}

body[role="application"] li[data-state="new"] time,
[role="listitem"][data-state="new"] time {
  color: #1d8399;
}


/* State tagged */
body[role="application"] li[data-state="tagged"]:after,
[role="listitem"][data-state="tagged"]:after {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
  width: 0.4rem;
}

body[role="application"] li[data-tag="A"]:after, [role="listitem"][data-tag="A"]:after { background-color: #e7a300; }
body[role="application"] li[data-tag="B"]:after, [role="listitem"][data-tag="B"]:after { background-color: #954fa7; }
